{% load thumbnail %}
<div class="container py-2">
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
        {% if show_profile_link %} 
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        {% endif %}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    {% thumbnail post.image "960x500" crop="center" as im  %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }} class="card-img my-2>
    {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
    <article>
     {% if post.group and show_group_link %}   
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
     {% endif %}
    </article>
  </article>
</div>
{% if not forloop.last %}<hr>{% endif %}