{% if user.is_authenticated %}
  <div class="container py-2">
    <article>
      <ul class="nav nav-tabs">
        {% if show_follow_link %}
        <li class="nav-item">
          <a 
            class="nav-link {% if index %}active{% endif %}"
            href="{% url 'posts:index' %}"
          >
            Все авторы
          </a>
        </li>
        {% endif %}
        {% if show_index_link %} 
        <li class="nav-item">
          <a 
           class="nav-link {% if follow %}active{% endif %}"
           href="{% url 'posts:follow_index' %}"
          >
            Избранные авторы
          </a>
        </li>
        {% endif %}
     </ul>
    </article>  
  </div>
{% endif %}
