{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
         <div class="card-header">
            Изменить пароль
          </div>
          {% include 'includes/errors.html' %}
          <div class="card-body">
            <form method="post" action="{% url 'users:password_change_form' %}">

              {% csrf_token %}

              {% include 'includes/forms.html' %}

              <a href="{% url 'users:password_change_done' %}">
                
              <button type="submit" class="btn btn-primary">
                Изменить пароль
              </button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}