{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
{% if validlink %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Введите новый пароль
          </div>
          {% include 'includes/errors.html' %}
          <div class="card-body">
            <form method="post" action="{% url 'users:password_reset_confirm' uidb64='uidb64' token='token'%}">
              
              {% csrf_token %}

              {% include 'includes/forms.html' %}

              <div class="col-md-6 offset-md-4">
                <a href="{% url 'users:password_reset_complete' %}">
                  <button type="submit" class="btn btn-primary">
                    Назначить новый пароль
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 {% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Ошибка</div>
        <div class="card-body">
          <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div>
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}